 body {
    font-family: Arial, sans-serif;
    background-color: #656565;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #b3b3b5;
    border-radius: 100%;
    box-shadow: 0 4px 20px rgba(180, 180, 180, 0.1);
    padding: 40px;
    width: 300px;
    color: #000000;
    border:2px solid #000000;
    width: 10cm;
}

.title {
    color: #000000; 
    margin-bottom: 20px;

}

.timer {
    font-size: 48px;
    color: #000000; 
    margin: 20px 0;
    margin-top: -0.5cm;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    
}

.label {
    font-size: 16px;
    color: #000000
}

.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0b0c0a;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: #000000; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1cm;
}

.button:hover {
    background-color: #8c8c8c; 
    color: #0b0c0a;
    border: 2px solid black;
}
